<div class="card border-0 box-shadow-0">
    <div class="card-content">
        <div class="card-body bg-blue bg-lighten-4">
            <div class=" text-center">
                <span id="ticmWeahter_summary" class="block text-blue-800">-</span>
                <span id="ticmWeahter_temperature" class="font-large-1 block text-blue-800">-</span>
                <span id="ticmWeahter_name" class="font-medium-4 text-blue-800">-</span>
            </div>
        </div>
        <div class="card-footer py-2 border-0">
            <div class="row">
                <div class="col-4 text-center display-table-cell">
                    <i class="me-sun font-large-1 lighten-3 align-middle"></i> <span id="ticmWeahter_sunrise"
                        class="align-middle">-</span>
                </div>
                <div class="col-4 text-center display-table-cell">
                    <i class="me-moon font-large-1 lighten-3 align-middle"></i> <span id="ticmWeahter_sunset"
                        class="align-middle">-</span>
                </div>
                <div class="col-4 text-center display-table-cell">
                    <i class="me-wind font-large-1 lighten-3 align-middle"></i> <span id="ticmWeahter_wind"
                        class="align-middle">-</span>
                </div>
            </div>
        </div>
    </div>
</div>